<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Shop Now(Admin)</a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            {{#if req.session.loggedIn}}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/view-products">All products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-users">All Users</a>
                    </li>
                </ul>
            </div>
            {{/if}}
        </div>
    </nav>